<ion-view view-title="Recent Searches">
  <ion-nav-buttons side="left">
    <button class="button go-back" ng-click="$ionicGoBack()"><i class="ion-arrow-left-c"></i> Back</button>
  </ion-nav-buttons>

  <ion-content class="no-padding">
    <ion-list>
      <div class="list card row-top" ng-click="vm.showResults()">
        <div class="item item-divider">Previous Search # 1</div>
        <div class="item item-body">
          <div>
            <b>47</b> Results
          </div>
        </div>
      </div>
      <div class="list card row-top" ng-click="vm.showResults()">
        <div class="item item-divider">Previous Search # 2</div>
        <div class="item item-body">
          <div>
            <b>15</b> Results
          </div>
        </div>
      </div>
      <div class="list card row-top" ng-click="vm.showResults()">
        <div class="item item-divider">Previous Search # 3</div>
        <div class="item item-body">
          <div>
            <b>92</b> Results
          </div>
        </div>
      </div>
      <div class="list card row-top" ng-click="vm.showResults()">
        <div class="item item-divider">Previous Search # 4</div>
        <div class="item item-body">
          <div>
            <b>11</b> Results
          </div>
        </div>
      </div>
      <div class="list card row-top" ng-click="vm.showResults()">
        <div class="item item-divider">Previous Search # 5</div>
        <div class="item item-body">
          <div>
            <b>2</b> Results
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>