<style>

    div.spinner {
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        height: 85px;
        text-align: center;
    }

    .spinner svg {
        width: 19% !important;
        height: 85px !important;
    }
</style>

<ion-view view-title="Search">

    <ion-content scroll="false" ng-show="vm.isLoading">
        <div class="spinner">
            <ion-spinner></ion-spinner>
        </div>
    </ion-content>

    <ion-content ng-hide="vm.isLoading">
        <form name="searchForm" novalidate>
            <formly-form model="vm.formData" fields="vm.formFields" form="form" options="options">
                <div class="padding">
                    <button class="button button-block button-royal" ng-click="vm.search()">Search</button>
                    <!-- <button class="button button-block button-clear button-positive" ng-click="vm.recentSearches()">Recent Searches</button> -->
                </div>
            </formly-form>
        </form>
    </ion-content>
</ion-view>
